body, html {
    height: 100%;
}

.bg { 
    background-image: url('../img/bg.jpg');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    width: 60% !important;
}

.header {
    text-align: center;
}